# Base de datos (Supabase)
# URL del POOLER → para queries normales en runtime (puerto 6543)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:6543/DATABASE?schema=public"

# URL DIRECTA → para migraciones con Prisma (puerto 5432)
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"

# JWT
JWT_SECRET="tu_JWT_SECRET_aqui"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3000
NODE_ENV=production
